RewriteEngine on
RewriteRule googlehostedservice.html$ - [L]
RewriteRule listing.html$ - [L]
RewriteRule \.php$ - [L]
RewriteRule foto/(.*)$ - [L]
RewriteRule foto/$ - [L]
RewriteRule forum/(.*)$ - [L]
RewriteRule stats/(.*)$ - [L]
RewriteRule cms/(.*)$ - [L]
RewriteRule jscripts/(.*)$ - [L]
RewriteRule 83048c28fdc02310701638f3d2ca04f8/(.*)$ - [L]
#RewriteRule (.*)/([0-9*])/$ index.php\?page=$1&numb=$2 [L]
#RewriteRule (.*)/$ index.php\?page=$1 [L]
#RewriteRule (.*)$ - [L]
RewriteRule (.*).html$ index.php [L]